body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #333
}

.play {
  margin-top: 10%;
}

#zero-zero {
  border-bottom: 2px dashed #B8B8B8;
  border-right: 2px  dashed #B8B8B8;
  height: 200px;
  width: 200px;
  cursor: pointer;
}
#one-zero {
  border-bottom: 2px   dashed #B8B8B8;
  border-right: 2px  dashed #B8B8B8;
  height: 200px;
  width: 200px;
  margin-left: 0px;
  cursor: pointer;

}
#two-zero {
  border-bottom: 2px   dashed #B8B8B8;
  height: 200px;
  width: 200px;
  margin-left: 0px;
  cursor: pointer;

}
#zero-one {
  border-bottom: 2px   dashed #B8B8B8;
  border-right: 2px  dashed #B8B8B8;
  height: 200px;
  width: 200px;
  cursor: pointer;

}
#one-one {
  border-bottom: 2px   dashed #B8B8B8;
  border-right: 2px  dashed #B8B8B8;
  height: 200px;
  width: 200px;
  margin-left: 0px;
  cursor: pointer;

}
#two-one {
  border-bottom: 2px   dashed #B8B8B8;
  height: 200px;
  width: 200px;
  margin-left: 0px;
  cursor: pointer;

}
#zero-two {
  border-right: 2px  dashed #B8B8B8;
  height: 200px;
  width: 200px;
  cursor: pointer;

}
#one-two {
  border-right: 2px  dashed #B8B8B8;
  height: 200px;
  width: 200px;
  margin-left: 0px;
  cursor: pointer;

}
#two-two {
  height: 200px;
  width: 200px;
  margin-left: 0px;
  cursor: pointer;

}

#game {
  margin-left: 19%;
}

h1 {
  text-align: center;
  font-size: 350%;
}


form {
  text-align: center;
  margin-top: 15%;
}

.form-row {
  margin-top: 2%;
}

#click-to-play {
  text-align: center;
  margin-top: 18%;
}

img {
  width: 150px;
  height: 150px;
  margin-left:10%;
  margin-top:10%;
}

#messages {
  text-align: center;
}

#player-name {
  color: #FF6666;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  font-weight: 700;
  color: #333;
}
