body {
  background-color: #dddddd;
}

td {
  height: 200px;
  width: 200px;
  border: 6px solid #000;
}

h1, td {
  text-align: center;
  vertical-align: middle;
}


table {
  width: 300px;
  margin-top: 5%;
  border-top: 6px solid #000;
  border-bottom: none;
}

#winner {
  display: none;
}

.play {
  margin-top: 10%;
}
