
#winner {
  display: none;
}

.play {
  margin-top: 10%;
}

#zero-zero {
  border-bottom: 3px solid #FF00FF;
  border-right: 3px solid #FF00FF;
  height: 200px;
  width: 200px;
  cursor: pointer;
}
#one-zero {
  border-bottom: 3px solid #FF00FF;
  border-right: 3px solid #FF00FF;
  height: 200px;
  width: 200px;
  margin-left: 0px;
  cursor: pointer;

}
#two-zero {
  border-bottom: 3px solid #FF00FF;
  height: 200px;
  width: 200px;
  margin-left: 0px;
  cursor: pointer;

}
#zero-one {
  border-bottom: 3px solid #FF00FF;
  border-right: 3px solid #FF00FF;
  height: 200px;
  width: 200px;
  cursor: pointer;

}
#one-one {
  border-bottom: 3px solid #FF00FF;
  border-right: 3px solid #FF00FF;
  height: 200px;
  width: 200px;
  margin-left: 0px;
  cursor: pointer;

}
#two-one {
  border-bottom: 3px solid #FF00FF;
  height: 200px;
  width: 200px;
  margin-left: 0px;
  cursor: pointer;

}
#zero-two {
  border-right: 3px solid #FF00FF;
  height: 200px;
  width: 200px;
  cursor: pointer;

}
#one-two {
  border-right: 3px solid #FF00FF;
  height: 200px;
  width: 200px;
  margin-left: 0px;
  cursor: pointer;

}
#two-two {
  height: 200px;
  width: 200px;
  margin-left: 0px;
  cursor: pointer;

}

#game {
  margin-left: 30%;
}

h1 {
  text-align: center;
}

form {
  text-align: center;
}

#click-to-play {
  text-align: center;
  margin-top: 20%;
}
